.bg_banner{

    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.nested_bg_banner{

    position: relative;
}
@media (max-width: 900px){
   .bg_banner{
     /* top: 20%; */
     transform: translate(-50%, -120%);
   }
}
