@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #E4E4E4 !important;
    /* font-family: "Josefin Sans", serif; */
}
.inline-Gwz36rSURLtCKbyHUSZq .form-builder--wrap{
  padding: 0px !important;
}
