@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev::before,
.slick-next::before {
  display: none;
}

.slick-next,
.slick-prev {
  z-index: 10;
  height: 50px !important;
  width: 50px !important;
}

.slick-next {
  right: 40px !important;
}

.slick-prev {
  left: 40px !important;
}


.slider__wrapper::before {
  content: '';
  width: 400px;
  height: 90%;
  background: linear-gradient(90deg, #000 0, transparent 100%);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider__wrapper::after {
  content: '';
  width: 400px;
  height: 90%;
  background: linear-gradient(-90deg, #000 0, transparent 100%);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slider_cards .swiper-slide {
  transition: all 150ms ease-in-out;
}

.slider_cards .swiper-slide:is(:not(.swiper-slide-active)) {
  filter: blur(6px);
  transform: scale(0.9);
}